<div class='AdminProduct'>
    <div class="container">
        <h2 class="admin-title">
            Quản lý thành phố
        </h2>
        <div class="admin-control">
            <a href="/admin/City/create"class="admin-controll-add btn btn-primary">
                Thêm thành phố
            </a>
        </div>
        <div class="AdminProduct-list">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive wishlist_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Tên Thành phố</th>
                                    <th class="product-thumbnail">Khu vực</th>
                                    <th class="product-name">Năm thành lập</th>
                                    <th class="product-price">Mô tả</th>
                                    <th class="product-add-to-cart">Sửa</th>
                                    <th class="product-remove">Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% cities.forEach(function(city){ %>
                                    <tr>
                                        <th><%=city.dataValues.Name%></th>
                                        <th><%=city.dataValues.Region.dataValues.Name%></th>
                                        <th><%=city.dataValues.FYear%></th>
                                        <th><%=city.dataValues.CDesc%></th>
                                        <th><a href=<%='/admin/City/update/'+city.dataValues.IDC %> class="btn btn-primary">Sửa</a></th>
                                        <th><form method="POST" action="/admin/City/delete/<%=city.dataValues.IDC%>"><button class="btn btn-danger">Xóa</button></form></th>
                                    </tr>
                                  <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>